.offer {
  margin: 48px 0;
  font-size: 0.9rem;
  line-height: 1.5;
}

.loanInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discount {
  margin: 16px 0;
}

.radio {
  margin-left: 20px;
}

.textImportant {
  font-weight: 500;
  color: #000000;
}
