.congratulations {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
  color: #ffffff;
  padding: 0 24px;
}

@keyframes roll-right {
  0% {
    opacity: 0;
    transform: translate(-16px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.wrapper {
  max-width: 400px;
  animation: roll-right 1s;
}

@keyframes shine {
  0%,
  100% {
    opacity: 1;
    transform: scale(1.2);
  }

  50% {
    opacity: 0.5;
    transform: scale(1);
  }
}

.stars {
  animation: shine 3s infinite;
}

.title {
  display: flex;
  gap: 10px;
  font-size: 1.5rem;
  margin-top: 0;
  padding-top: 32px;
}

.explanation {
  color: #6a6a6a;
  line-height: 1.4;
}
