.card {
  max-width: 400px;
  margin: 48px 0;
  border-radius: 25px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  color: #6b7280;
  font-size: 0.9rem;
}

.cardInfo {
  padding: 0 16px;
}

.textImportant {
  font-weight: 600;
  color: #000000;
}

.vehicleImage {
  width: 100%;
  border-radius: 25px 25px 0 0;
}

.vehicleInfo {
  margin: 24px 0;
}

.vehicleMileage {
  margin-top: 8px;
}

.loanInfo {
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 100%;
  margin: 32px 0 16px;
  padding: 16px 32px;
  border: none;
  border-radius: 25px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-size: inherit;
  font-weight: 600;
  cursor: pointer;
}
