@keyframes roll-down {
  0% {
    opacity: 0;
    transform: translate(0, -16px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.loans {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 24px;
  animation: roll-down 1s;
}

@media (max-width: 1024px) {
  .loans {
    display: block;
    height: 100%;
  }
}

.loansWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 32px;
  padding: 16px 0;
}

@media (max-width: 1024px) {
  .loansWrapper {
    flex-direction: column;
  }
}

.title {
  display: flex;
  justify-content: center;
  margin: 16px 0 48px;
  font-size: 1.5rem;
  font-weight: 600;
}
