@keyframes roll-right {
  0% {
    opacity: 0;
    transform: translate(-16px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.offers {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  height: 100vh;
  color: #6b7280;
  animation: roll-right 1s;
}

@media (max-width: 1024px) {
  .offers {
    display: block;
    height: 100%;
    padding: 32px 24px;
  }
}

.offersWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 32px;
}

@media (max-width: 1024px) {
  .offersWrapper {
    flex-direction: column;
  }
}

.titleWrapper {
  display: flex;
  justify-content: center;
}

.title {
  max-width: 480px;
  margin: 16px 0 48px;
  font-size: 1.4rem;
  line-height: 1.4;
}

.textImportant {
  font-weight: 600;
  color: #000000;
}

.btn {
  max-width: 300px;
  width: 100%;
  margin-top: 48px;
  padding: 16px 32px;
  border: none;
  border-radius: 25px;
  background-color: #808080;
  color: #ffffff;
  text-align: center;
  font-size: inherit;
  font-weight: 600;
  cursor: pointer;
}

.btnWrapper {
  text-align: center;
}
